*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

html, body{
	font-family: Roboto, sans-serif;
	font-size: 16px;
	background-color: #E2F1E7;
}

header{
	background-color: #1A3263;
	color: #fff;
	text-align: center;
	padding: 15px;
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
}

footer{
	background-color: #574964;
	color: #fff;
	text-align: center;
	padding: 15px;
	width: 100%;
	height: 50px;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul{
	margin-bottom: 20px;
	padding: 10px 35px;
}

li{
	margin: 10px;
}

img{
	width: 180px;
	height: 230px;
	margin-right: 20px;
	border-radius: 20px;
	box-shadow: 8px 6px 7px #492828;
}

#github-button{
	margin: 25px 0;
	background-color: #1A3263;
	width: 150px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 22px;
	border: 0;
	cursor: pointer;
}

#hero-section{
	background-color: #EAE0CF;
	font-size: 18px;
	font-weight: bold;
	width: 80%;
	text-align: justify;
	padding: 40px 45px;
	margin-bottom: 35px;
	border-radius: 17px;
	min-height: 250px;
	box-shadow: 10px 13px 10px #492828;
}

#icon-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #1A3263;
	width: 60px;
	height: 30px;
	border-radius: 13px;
	margin-right: 12px;
	color: white;
	cursor: pointer;
}



#button-dark-container{
	display: flex;
	flex-direction: row;
	margin-inline-start: 80%;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

#personal-data-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.personal-data-item, .data-item-url{
	text-decoration: none;
	list-style-type: none;
	
}

.data-item-url{
	color: #574964;
	font-weight: bold;
}
.container-info-cv{
	width: 80%;
}

.container-content-cv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	background-color: #EAE0CF;
	padding: 40px;
	margin-bottom: 35px;
	border-radius: 17px;
}

.title-content{
	text-align: center;
	margin: 20px;
}


#github-button:hover{
	background-color: #FE7F2D;
}

.data-item-url:hover{
	color: #0E21A0;
	font-size: 18px;
}

#icon-container:hover{
	background-color: #5B23FF;
}

/* Media-queries style */


@media(max-width: 680px){
	#personal-data-container{
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row;
}
}